{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Кошик</h2>

    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Страва</th>
                    <th>Кількість</th>
                    <th>Ціна</th>
                    <th>Загалом</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.item.price }} грн</td>
                    <td>{{ item.total_price|floatformat:2 }} грн</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/payment" class="btn btn-success">Оформити замовлення</a>
    {% else %}
        <p class="text-center">Ваш кошик порожній.</p>
    {% endif %}
</div>
{% endblock %}
